body {
     margin: 0px;
    padding: 0px;
}

.row-1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.heading-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 6px;
}
