body { margin: 0px; }

h1 {
    font-size: 53px;
    text-align: center;
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px;
    font-family: 'Pangolin', cursive;
    font-style: italic;
    color: purple;
} 

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;    
}

.b1{
    text-align: center;
}